.logo{
    width: 35%;
    height: 25%;
    box-shadow: 10px 10px 12px rgb(99, 97, 97) ;
    border-radius: 12px;
    margin-right: 40px;
}

.font-size{
    background-color: beige;
    font-family:cursive;
    font-size:11px;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgb(203, 197, 197);
    width: 160px;
    margin-left: -25px;
    margin-right: -25px;
}
.font-size:hover{
    background-color: rgba(45, 142, 175, 0.825);
    font-size:12px; 
}
.search-btn{
 background-color:rgb(29, 65, 132); ;
 margin-left:-32px;
 
}
.search-input{
  background-color: rgb(113, 148, 222);
  font-size: 10px;
  font-weight: bold;
  width:220px;
  

 
}
.full-icon-nav{
    padding-left: 25px;
}
.icon{
    margin-right:-40px ;
}
.icon:hover{
    color: aliceblue;
    font-size: 18px;
}
.contact-back{
    background-color: rgb(37, 28, 109);
    height: 400px;
}
.back-2{
    background: linear-gradient(0.25turn, #276fd4d6, #6aa3b9, #055086e9);
    width: 84%;
    height: 450px;
    padding: 35px;
    border-radius: 12px;
    margin-right: 8%;
}
.text-cont{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 5%;
    padding-right: 65px;
}
.image{
    width: 50%;
    height: 50%; 
    margin: 16%;
    border-radius: 60px;
    box-shadow: 5px 5px 10px rgba(73, 157, 209, 0.611);
}
.width{
    margin-right: 30px;
}
.background-poster{
background-image: url("/img/01\(10573\).jpg");
background-size: cover;

}
.back-img{
    background-color: rgba(94, 93, 92, 0.892);
    width: 300px;
    height: 220px;
    border-radius: 15px;
}
.img{
    width: 300px;
    height: 220px;
    border-radius: 15px;
    filter: blur(1px);
}
.p-margin{
    padding-left: 15%;
    padding-right: 15%;

}
.img-2{
    width: 300px;
    height: 220px;
    border-radius: 15px;
    filter: blur(1px);
    position: relative;
}
.margin{
    margin-top: 150px;
}
.img:hover{
    height:195px;
    filter: blur(0);
}
.img-2:hover{
    box-shadow: 10px 10px 10px rgb(117, 194, 233);
    
    filter: blur(0px);
}
.text-white{
  color: white;  
}
.width-btn{
    justify-self:center;
    
}
.size{
    width: 400px;
    justify-content: center;
    margin-right: 480px;
}
.nav{
    height:auto;
    background: linear-gradient(0.25turn, #03285dd6, #1a7092, #013961e9);
    /* background-color: rgb(1, 1, 51); */
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.footer{
    background-color: #1a7092;
}
.size-map{
    width: 250px;
    height: 200px;
    box-shadow: 5px 5px 10px rgb(118, 235, 204);
}
.footer-2{
    height:auto;
    
}
